<div class="col-xl-5 col-lg-6 col-md-7 col-sm-9 mx-auto" id="user-signup" data-on-complete="redirect_to_prepare_site" data-validators="field_validators">
    <div class="card">
        <div class="card-body">
            <div class="alert alert-primary form-alert-info small" style="display: none;" role="alert"></div>
            <div class="alert alert-danger form-alert-error small" style="display: none;" role="alert"></div>
            <!-- 1. Personal Details -->
            
            <form method="POST" name="personal-detail-form" class="form-step" data-step="1" data-action="validate_and_submit_personal_details" style="display: block;">    
                <div class="form-row">
                    <div class="form-group col-12 col-sm-6">
                        <label class="mt-6 hidden">
                            <input id="csrf_input_data" name="csrf_token" class="form-input" value={{csfr}}>
                        </label>
                        <label for="first_name">First Name</label>
                        <input type="text" id="first_name" name="first_name" class="form-control" autocomplete="given-name">
                    </div>
                    <div class="form-group col-12 col-sm-6">
                        <label for="last_name">Last Name</label>
                        <input type="text" id="last_name" name="last_name" class="form-control" autocomplete="family-name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">Bussiness Email address</label>
                    <input type="email" id="email" class="form-control" name="email" autocomplete="email">
                </div>
                <div class="form-group">
                    <label for="phone">Phone Number</label>
                    <input type="tel" id="phone" class="form-control" name="phone_number" autocomplete="tel">
                </div>

                <!-- <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" class="form-control" name="password" autocomplete="new-password">
                </div> -->

                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" id="terms_check" class="custom-control-input" name="terms_check" required>
                        <label class="custom-control-label" for="terms_check">
                            I have read, understood and agree to the <a href="/terms" target="_blank">Terms of
                                Use</a>
                            and <a href="/privacy" target="_blank">Privacy Policy</a>.
                        </label>
                    </div>
                </div>
                <div class="form-message text-danger"></div>
                <div class="d-flex justify-content-between mt-8">
                    <div></div>
                    <button type="submit" class="btn btn-primary btn-step-1">Next</button>
                </div>
            </form>
            <!-- 2. Verify Email -->
            <!-- <form class="form-step" data-step="2" data-action="verify_otp" style="display: {{form_2}};">
                <div class="form-group">
                    <label for="verification_code">Verification Code</label>
                    <input type="text" id="verification_code" name="otp" class="form-control" aria-describedby="verification_code_help" autocomplete="one-time-code">
                    <small id="verification_code_help" class="form-text text-muted">
                        Enter the verification code you received at <strong class="verify-otp-email"></strong>
                    </small>
                </div>
                <div class="d-flex justify-content-center mt-8">
                    <div></div>
                    <button type="submit" class="btn btn-primary-light btn-resend-code" onclick="resend_otp(event)">Resend Code</button>
                    <button type="submit" class="ml-4 btn btn-primary btn-step-2">Verify Code</button>
                </div>
            </form> -->
            <div class="card" style="display: {{form_2}}""> {{signup_msg}}</div>
            {% if status == 0 %}
            <div>
                <a href="/login">Login</a>
            </div>
            {% endif %}
 
        </div>
    </div>
</div>
{% block script %}
<script>
	document.getElementById("#myFormId").addEventListener("submit", function(e){
        if(!isValid){
            e.preventDefault();    //stop form from submitting
        }
          //do whatever an submit the form
    });

	function submitForm() {
		let frm = document.getElementsByName('personal-detail-form')[0];
		if (frm.checkValidity()) {
			frm.submit(); // Submit the form
			frm.reset();  // Reset all form data
			return false; // Prevent page refresh
		} else {
			frm.reportValidity()
		}
	}

    
</script>
<script type="text/javascript" src="/assets/frappe/js/lib/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/frappe-web.min.js"></script>
<script type="text/javascript" src="/assets/js/control.min.js"></script>
<script type="text/javascript" src="/assets/js/dialog.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap-4-web.min.js"></script>
{% endblock %}