{% extends "templates/pages/web_base.html" %}

{%- block navbar -%}
    {% include "templates/pages/web_navbar.html" %}
{%- endblock -%}

{% block content %}
<div class="main-content">
    <!-- Header -->
    <div class="header bg-gradient-primary py-7 py-lg-8 pt-lg-9">
      <div class="container">
        <div class="header-body text-center mb-7">
          <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-6 col-md-8 px-5">
              <h1 class="text-white">Login</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </div>
    <!-- Page content -->
    <div class="container mt--9 pb-5">
      <!-- Table -->
    <section class="for-login">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
          <div class="card bg-secondary border border-soft">
            <div class="card-header bg-transparent pb-5">
              <div class="text-center">
                <div class="page-card-head">
                  <span class="indicator blue" data-text="{{ _('Login') }}"></span>
                </div>
              </div>
            </div>
            <div class="card-body px-lg-5 py-lg-5">
              <form class="form-signin form-login" role="form">
                <div class="form-group">
                  <div class="input-group input-group-merge input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                    <input class="form-control" placeholder="Email" id="login_email" type="email">
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-merge input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    <input class="form-control" placeholder="Password" id="login_password" type="password">
                    <span toggle="#login_password" class="fa fa-fw fa-eye toggle-password text-muted"></span>
                  </div>
                </div>
                <div class="text-center">
                  <button class="btn btn-primary mt-4" type="submit">Login</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    </div>
  </div>
{% endblock %}
{% block script %}
<script>
  $(".form-login").on("submit", function(event) {
		event.preventDefault();
		var args = {};
		args.cmd = "login";
		args.usr = frappe.utils.xss_sanitise(($("#login_email").val() || "").trim());
		args.pwd = $("#login_password").val();
		args.device = "desktop";
		if(!args.usr || !args.pwd) {
			frappe.msgprint('{{ _("Both login and password required") }}');
			return false;
		}
		login.call(args);
		return false;
	});
</script>
<script>{% include "templates/includes/login/login.js" %}</script>
{% endblock %}
{%- block footer -%}
    {% include "templates/pages/dash_footer.html" %}
{%- endblock -%}
